
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@{
        ViewBag.Title = "Index";
        Layout = null;

    }*@
@model TatliGezi.Models.User
<head>
    <!-- ========== SEO ========== -->
    <title>Tatli Gezi - Kullanıcı Şifremi Unuttum</title>

    <meta content="Kullanıcı giriş ve bilgilerini unuttum " name="description">
    <meta content="kullanıcı, kayıt, giriş, şifre unuttum" name="keywords">
    <meta content="Gül İşçioğlu" name="author">



</head>


@using (Html.BeginForm())
{




    <div class="container" style="margin-bottom:20px;">
 
        <div class="row">
            <div class="col-lg-8">

                @using (Html.BeginForm())
                {
                <div class="product-tabs mt50">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Şifremi Unuttum</a></li>

                    </ul>
                    <!-- Nav tabs -->
                    <div class="tab-content">
                        <!-- TAB -->
                        <div role="tabpanel" class="tab-pane active" id="description">

                            <div class="text-success">
                                @ViewBag.Message
                            </div>

                            <div class="form-group mb30">
                                <div class="row">

                                    <div class="col-md-offset-2 col-md-8">

                                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", placeholder = "E-Mail" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb30">
                                <div class="row">

                                    <div class="col-md-offset-2 col-lg-8 col-md-8">
                                        <div class="a-right p-t-30">
                                            <input type="submit" class="btn green " value="Gönder">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>




                </div>

                }
            </div>
        </div>
    </div>
}

@*<body class="bg-dark">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">Şifremi Unuttum</div>
                <div class="card-body">

                    @using (Html.BeginForm())
                    {
                        <div class="form-horizontal">
                            <hr />
                            <div class="text-success">
                                @ViewBag.Message
                            </div>
                            <div class="form-group">
                                <label class="control-label">Email :</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Gönder" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </body>*@




